{% extends 'index.html' %}

{% block titulo %}Simulador de Criptomoneda - Compra de criptomoneda{% endblock %}

{% block barra %} 
<div>
    <a href="/"><button>INICIO</button></a>
    <button, disabled = "disabled">COMPRA</button>
    <a href="/estado"><button>ESTADO</button> </a>
</div>
{% endblock %}

{% block contenido %}
<h1>Compra de Criptomoneda</h1>
        {% for mensaje in mensajes %}
            <p class="errores_try">{{mensaje}}</p>
        {% endfor %}
        <form action="compra" method="POST">  
            {{ form.hidden_tag()}}
            
            {% if vacio == True %}
        <div> 
                {{form.from_currency.label}}<br>
                {{form.from_currency}}
        </div>
        <div> 

                {{form.to_currency.label}}<br>
                {{form.to_currency}}
                {% for error in form.from_currency.errors %}
            <p>
                {{ error }}
            </p>
                {% endfor %}
        </div>
        <div>
                {{form.from_cantidad.label}}<br>
                {{form.from_cantidad( placeholder='Cantidad moneda original') }}
                
                {% for error in form.from_cantidad.errors %}
            <p>
                {{ error }}
            </p>
                {% endfor %}                           
        </div>
        <div> 
                {{form.calculadora}}
        </div>
        <div>
                {{form.to_cantidad.label}}<br>
                {{form.to_cantidad(disabled="disabled")}}  
        </div>
        <div>
                {{form.precio_unitario.label}}<br>
                {{form.precio_unitario(disabled="disabled")}}
        </div>
        <div>
                {{form.guardar(disabled="disabled")}}
        </div>
                {% else %}
        <div> 
                {{form.from_currency.label}}<br>
                {{form.from_currency(value=api_coin[1], disabled = "disabled")}}
                {{form.from_currency(value=api_coin[1], hidden="hidden")}}
        </div>
        <div> 
                {{form.to_currency.label}} <br>
                {{form.to_currency(value=api_coin[2], disabled="disabled")}}
                {{form.to_currency(value=api_coin[2], hidden="hidden")}}
        </div>
        
        <div>    
                {{form.from_cantidad.label}}<br>
                {{form.from_cantidad(readonly="readonly",value=api_coin[0])}}
        </div>
        <div>
                {{form.calculadora(disabled="disabled")}}
        </div>
        <div>
                {{form.to_cantidad.label}}<br>
                {{form.to_cantidad(readonly="readonly",value=api_coin[3])}}
        </div>
        <div>
                {{form.precio_unitario.label}}<br>
                {{form.precio_unitario(readonly="readonly",value=api_coin[4])}}
        </div>
        <div>
                {{form.guardar}}  
        </div>
                {% endif %}                                            
{% endblock %}