<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css')}}">
        <title>{% block titulo %}Simulador de Criptomoneda - Movimientos en tu cartera{% endblock %} </title>
        
    </head>
    <body>
        <header>
            <p class="titulo">MyCrypto</p>
            <div>{% block barra %}{% endblock %}</div>
            </header>
            <div>
                {% block contenido %}{% endblock %}
            </div>                              
            <p></p>
        <footer>
            &copy; 2020 - 2021. Todos los derechos reservados<br>
            Simulador de criptomonedas creado como proyecto final del Bootcamp Aprende a Programar desde Cero de <a href="https://keepcoding.io/" target="_blank">KeepCoding</a>.<br>
            Simulación ficticia, no se compran criptomonedas, solo se simula la compra. Los responsables de esta página no se harán cargo de los problemas ocasionados por su uso.<br>
            Confeccionado con finalidad educativa.
        </footer>             
    </body> 
</html>